In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv("ChargingRecords.csv")
raw_df.head(10)

,UserID,ChargerID,ChargerCompany,Location,ChargerType,StartDay,StartTime,EndDay,EndTime,StartDatetime,EndDatetime,Duration,Demand
0,0,1,1,hotel,0,2022-09-15,20:54:02,2022-09-15,23:59:13,2022-09-15 20:54,2022-09-15 23:59,185,20.36
1,0,1,1,hotel,0,2022-09-14,20:01:05,2022-09-14,21:31:04,2022-09-14 20:01,2022-09-14 21:31,90,10.19
2,0,1,1,hotel,0,2022-09-14,18:54:30,2022-09-14,19:54:29,2022-09-14 18:54,2022-09-14 19:54,60,6.78
3,0,1,1,hotel,0,2022-09-29,18:32:51,2022-09-30,0:16:42,2022-09-29 18:32,2022-09-30 0:16,344,37.65
4,0,1,1,hotel,0,2022-09-25,19:30:15,2022-09-26,0:30:14,2022-09-25 19:30,2022-09-26 0:30,300,33.81
5,0,1,1,hotel,0,2022-09-24,14:51:16,2022-09-24,16:01:15,2022-09-24 14:51,2022-09-24 16:01,70,8.17
6,0,1,1,hotel,0,2022-08-11,18:28:42,2022-08-11,19:28:41,2022-08-11 18:28,2022-08-11 19:28,60,6.38
7,0,1,1,hotel,0,2022-08-10,19:37:54,2022-08-11,3:51:56,2022-08-10 19:37,2022-08-11 3:51,494,55.17
8,0,1,1,hotel,0,2022-08-09,19:43:27,2022-08-09,20:43:26,2022-08-09 19:43,2022-08-09 20:43,60,6.68
9,0,1,1,hotel,0,2022-08-07,19:51:01,2022-08-07,21:43:17,2022-08-07 19:51,2022-08-07 21:43,112,12.57

In [3]:
raw_df.isnull().sum()

UserID            0
ChargerID         0
ChargerCompany    0
Location          0
ChargerType       0
StartDay          0
StartTime         0
EndDay            0
EndTime           0
StartDatetime     0
EndDatetime       0
Duration          0
Demand            0
dtype: int64

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72856 entries, 0 to 72855
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UserID          72856 non-null  int64
 1   ChargerID       72856 non-null  int64
 2   ChargerCompany  72856 non-null  int64
 3   Location        72856 non-null  object
 4   ChargerType     72856 non-null  int64
 5   StartDay        72856 non-null  object
 6   StartTime       72856 non-null  object
 7   EndDay          72856 non-null  object
 8   EndTime         72856 non-null  object
 9   StartDatetime   72856 non-null  object
 10  EndDatetime     72856 non-null  object
 11  Duration        72856 non-null  int64
 12  Demand          72856 non-null  float64
dtypes: float64(1), int64(5), object(7)
memory usage: 7.2+ MB

In [5]:
raw_df["StartDatetime"]

0        2022-09-15 20:54
1        2022-09-14 20:01
2        2022-09-14 18:54
3        2022-09-29 18:32
4        2022-09-25 19:30
               ...
72851     2022-01-27 9:54
72852    2021-10-31 14:52
72853    2021-10-03 13:52
72854    2021-11-18 11:37
72855    2021-10-30 17:29
Name: StartDatetime, Length: 72856, dtype: object

In [6]:
raw_df["StartDatetime"] = pd.to_datetime(raw_df["StartDatetime"], format='%Y-%m-%d %H:%M',)

In [7]:
raw_df["StartDatetime"]

0       2022-09-15 20:54:00
1       2022-09-14 20:01:00
2       2022-09-14 18:54:00
3       2022-09-29 18:32:00
4       2022-09-25 19:30:00
                ...
72851   2022-01-27 09:54:00
72852   2021-10-31 14:52:00
72853   2021-10-03 13:52:00
72854   2021-11-18 11:37:00
72855   2021-10-30 17:29:00
Name: StartDatetime, Length: 72856, dtype: datetime64[ns]

In [8]:
raw_df["EndDatetime"] = pd.to_datetime(raw_df["EndDatetime"], format='%Y-%m-%d %H:%M')
raw_df["EndDatetime"]

0       2022-09-15 23:59:00
1       2022-09-14 21:31:00
2       2022-09-14 19:54:00
3       2022-09-30 00:16:00
4       2022-09-26 00:30:00
                ...
72851   2022-01-27 09:58:00
72852   2021-10-31 15:20:00
72853   2021-10-03 14:32:00
72854   2021-11-18 11:45:00
72855   2021-10-30 17:36:00
Name: EndDatetime, Length: 72856, dtype: datetime64[ns]

In [9]:
raw_df["Location"].value_counts()

Location
public area           14082
apartment             14038
resort                 8854
hotel                  8600
company                7558
public institution     7023
public parking lot     3396
market                 3005
restaurant             2222
camping                1630
sightseeing            1203
golf                   1029
accommodation           187
bus garage               29
Name: count, dtype: int64